on: [push, pull_request]

name: CI

jobs:
  CI:
    name: Node ${{ matrix.node }} and ${{ matrix.manager }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20.19.0, 22, 24]
        manager: ['npm', 'yarn', 'pnpm']
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: ${{ matrix.node }}

      - name: Install pnpm
        if: ${{ matrix.manager == 'pnpm' }}
        uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: Install dependencies using ${{ matrix.manager }}
        run: ${{ matrix.manager }} install

      - name: Run TypeScript type checking
        run: npx tsc --noEmit

      - name: Run ESLint
        run: npm run lint

      - name: Validate Prisma
        run: npx prisma generate && npx prisma validate

      - name: Build application
        run: npm run build
